@using prj_chuju.Models
@model Tuple<List<class_ActivityOutline>, string, int, int>

@{
    ViewBag.Title = "list";
}
<style>
    /*  * {
        outline: 1px solid red;
    }*/

    main {
        border-bottom: 3px solid #706139;
    }

    .tag-group {
        width: 595px;
    }

    .justify-content-space-between {
        justify-content: space-between
    }

    .tag {
        font-size: 22px;
        color: #FFFFFF;
        line-height: 90px;
    }

        .tag:hover {
            color: black;
        }

    .sticky {
        background: #706139;
        padding-right: 270px;
        margin-bottom: 35px;
    }

    .swiper .is-checked {
        color: #212529;
    }

    .Activity-title {
        font-size: 50px;
        color: #383838;
        font-weight: bold;
        margin-left: 170px;
        margin-bottom: 49px;
    }

    .container {
        width: 880px;
        margin: 0 auto;
        margin-bottom: 44px;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .box {
        width: 47.5%;
        margin-bottom: 49px;
    }

    .picture {
        width: 100%;
    }

    .information {
        background: #E7E7E7;
        padding: 13px 10px;
        border: 1px solid #A6A6A6;
        border-top: 0px;
    }

    .time {
        color: #706139;
        font-weight: 400;
    }

        .time img {
            width: 20px;
            margin-right: 2px;
        }

    .status-tag-now {
        font-size: 15px;
        color: #706139;
        font-weight: 500;
        outline: 1px solid #706139;
        padding: 0 4px;
    }

    .status-tag-end {
        font-size: 15px;
        color: #949494;
        font-weight: 500;
        outline: 1px solid #949494;
        padding: 0 4px;
    }

    .page {
        border-radius: 30px;
        border: 2px solid #706139;
        color: #706139;
        width: 35px;
        height: 35px;
        font-size: 20px;
        text-align: center;
        margin-right: 11px;
        margin-bottom: 53px;
        background-color: #FFFFFF;
    }

        .page:hover {
            color: #706139;
        }

    .page-select {
        border: 2px solid black;
        color: black;
    }
</style>
<script src="~/javascript/jquery-3.6.0.min.js"></script>
<body>
    <main>
        <div class="d-flex justify-content-end sticky">
            <div class="d-flex tag-group justify-content-space-between">
                <div class="swiper"><a href="~/Activity/全部活動" class="tag text-decoration-none">全部活動</a></div>
                <div class="swiper"><a href="~/Activity/即將開始" class="tag text-decoration-none">即將開始</a></div>
                <div class="swiper"><a href="~/Activity/執行中" class="tag text-decoration-none">執行中</a></div>
                <div class="swiper"><a href="~/Activity/已結束" class="tag text-decoration-none">已結束</a></div>
            </div>
        </div>
        <div class="Activity-title">活動總覽</div>
        <div class="container">
            <div class="row justify-content-space-between">
                @{ foreach (var item in Model.Item1)
                    {
                        string tag;
                        if (DateTime.Now.Date >= item.startDate && DateTime.Now.Date <= item.endDate)
                        {
                            tag = "活動進行中";
                            <script>
                                  $(function () {
                                      $(".status_@item.Id").addClass("status-tag-now");
                                  });
                            </script>
                        }

                        else
                        {
                            tag = "活動已結束";
                            <script>
                                $(function () {
                                    $(".status_@item.Id").addClass("status-tag-end");
                                });
                            </script>
                        }
                        <div class="box">
                            <a href="~/ActivityContent/@item.Id">
                                <div class="imgbox">
                                    <img class="picture" src="~/@item.picture" />
                                </div>
                            </a>
                            <div id="abc" class="information d-flex justify-content-space-between">
                                <div class="time d-flex align-items-center">
                                    <img src="~/images/ActivityNews/clock.png" />@item.startDate.ToString("yyyy-MM-dd") ~ @item.endDate.ToString("yyyy-MM-dd")
                                </div>
                                <div class="status_@item.Id">@tag</div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="page-list d-flex justify-content-center">
            @{
                int previous = Model.Item4 - 1;
                int next = Model.Item4 + 1;
                if (previous < 1)
                {
                    previous = 1;
                }

                if (next > Model.Item3)
                {
                    next = Model.Item3;
                }

                <a href="~/Activity/@Model.Item2/1" class="page one text-decoration-none">1</a>
                <a href="~/Activity/@Model.Item2/@previous" class="page previous text-decoration-none"><</a>
                <a href="~/Activity/@Model.Item2/@Model.Item4" class="page page-select text-decoration-none">@Model.Item4</a>
                <a href="~/Activity/@Model.Item2/@next" class="page next text-decoration-none">></a>
                <a href="~/Activity/@Model.Item2/@Model.Item3" class="page last text-decoration-none">@Model.Item3</a>
            }
        </div>
    </main>
</body>

