@using prj_chuju.ViewModels;
@using prj_chuju.Models;
@model AccountInfoPageViewModel
@{
    ViewBag.Title = "infoPage";
}

<link rel="stylesheet" href="~/style/account/accountInfoPage.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<div class="mainArea">
    <div class="operationArea">

        <div class="pageSwitcher">
            <div id="infoTag" class="pageTag actived">
                會員資料
            </div>

            <div id="bookingTag" class="pageTag">
                我的預約
            </div>

            <div id="collectionTag" class="pageTag">
                我的收藏
            </div>

            <div id="historyTag" class="pageTag">
                瀏覽歷史
            </div>

            <!-- 這裡的注解要另外處理 -->
            <!-- <div id="cupponTag" class="pageTag">
                我的優惠券(預留)
            </div> -->
            <!-- 這裡的注解要另外處理 -->
            <!-- <div id="noticeTag" class="pageTag">
                通知中心(預留)
            </div> -->
        </div>

        <div class="pageArea">
            <div id="infoPage" class="pageContainer actived">
                <div class="d-flex">
                    <div>
                        <div class="pictureContainer my-4 mx-100px d-flex align-items-center">
                            <div class="d-flex justify-content-center ">
                                <img class="w-25" src="~/images/AccountPictures/common/gallery.png" alt="">
                            </div>
                        </div>
                        <div class="d-flex flex-column align-items-center">
                            <a class="optionItem" id="editPwdBtn" href="#">重設密碼</a>
                            <div id="passwordEdittor" class="">
                                <table style="margin: 10px auto;">
                                    <tbody>
                                        <tr><td>目前密碼</td><td><input type="password" id="pwdEold" /></td></tr>
                                        <tr><td>新密碼</td><td><input type="password" id="pwdEnew" /></td></tr>
                                        <tr><td>確認新密碼</td><td><input type="password" id="pwdEnew-check" /></td></tr>
                                        <tr><td></td><td><span id="pwdnewEro" style="color:red;font-size:0.8rem"></span></td></tr>
                                    </tbody>
                                </table>
                                <div style="display:flex;justify-content:flex-end;">
                                    <div id="cancelpwdeBtn" class="lightBrownBtn" style="margin-right: 10px; padding: 5px 15px; ">取消</div>
                                    <div id="submitpwdeBtn" class="brownBtn" style="margin-right: 30px; padding: 5px 15px; ">儲存</div>
                                </div>
                            </div>
                            <a id="logoutBtn" class="optionItem" href="logout">會員登出</a>
                            
                        </div>
                    </div>
                    <div class="" style="width:500px">
                        <div class="d-flex justify-content-between my-4">
                            <span class="font-weight-bold font-120">會員資料</span>
                            <a id="editUserInfo" href="#">編輯</a>
                        </div>
                        <form action="">
                            <table id="infoFormTable" class="w-100 mb-3 infoFormTable">
                                <tr>
                                    <td style="width:100px">姓名</td>
                                    <td>
                                        <input disabled class="w-100" type="text" id="userName" name="userName" value="@Model.accountInfo.userName">
                                    </td>
                                </tr>
                                <tr>
                                    <td>性別</td>
                                    <td>
                                        <div class="userInfoShower font-120" id="genderShower">
                                            @if (Model.accountInfo.gender != "")
                                            {
                                                @: @Model.accountInfo.gender
                                            }
                                            else
                                            {
                                                @:(未提供)
                                            }
                                        </div>
                                        <div class="userInfoEditor d-none">
                                            <input type="radio" name="gender" id="genderM" value="男" /><label for="genderM">男</label>
                                            <input type="radio" name="gender" id="genderF" value="女" style="margin-left:10px" /><label for="genderF">女</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>生日</td>
                                    <td>
                                        <div class="userInfoShower font-120" id="birthdayShower">
                                            @{
                                                DateTime bd = Model.accountInfo.birthday;
                                                string birthstr = $"{bd.Year}.{bd.Month}.{bd.Day}";
                                                @: @birthstr
                                            }
                                        </div>
                                        <div class="userInfoEditor d-none">
                                            <div class="dateRow">
                                                <input type="hidden" name="birthDay" id="birthDay" />
                                                <input type="number" step="1" min="1900" name="Year" id="BDy" placeholder="年">
                                                <select name="Month" id="BDm" placeholder="月">
                                                    <option value="" disabled selected hidden>月</option>
                                                </select>
                                                <input type="number" step="1" min="1" max="31" name="Date" id="BDd" placeholder="日" />
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>居住地區</td>
                                    <td>
                                        <div class="userInfoShower font-120" id="regionShower">
                                            @if (Model.regionInfo.regionID != -1)
                                            {
                                                <span>@Model.regionInfo.cityName</span>
                                                <span>@Model.regionInfo.regionName</span>
                                            }
                                            else
                                            {
                                                @:(未提供)
                                            }
                                        </div>
                                        <div class="userInfoEditor d-none">
                                            <div class="regionRow">
                                                <input type="hidden" name="regionID" id="regionID" />
                                                <select name="city" id="city" placeholder="縣市">
                                                    <option value="" disabled selected hidden>請選擇縣市</option>
                                                </select>
                                                <select name="region" id="region" placeholder="地區" style="margin-left:10px;">
                                                    <option value="" disabled selected hidden>請撰擇地區</option>
                                                </select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>電子郵件</td>
                                    <td>
                                        <input disabled type="text" id="email" name="email" value="@Model.accountInfo.email">
                                    </td>
                                </tr>
                                <tr>
                                    <td>行動電話</td>
                                    <td>
                                        <input disabled type="text" id="cellphone" name="cellphone" value="@Model.accountInfo.cellphone">
                                    </td>
                                </tr>
                            </table>
                            <div id="infoConfirmArea" class="d-flex justify-content-end" style="visibility:hidden">
                                <div id="btnCancelInfoChange" class="lightBrownBtn mr-3 hidableBtn hide">取消</div>
                                <input type="submit" class="brownBtn hidableBtn hide" id="btnSaveInfoChange" value="儲存變更">
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div id="bookingPage" class="pageContainer">
                <div class="d-flex justify-content-center selectType">
                    <div class="brownBtn">全部</div>
                    <div class="brownBtn">預約中</div>
                    <div class="brownBtn">已看過</div>
                </div>
                <div>
                    <div>預約列表</div>
                    <div class="w-100 d-flex flex-wrap">
                        <div class="col-6 p-3">
                            <div class="buildingCase d-flex">
                                <div class=" " style="width:160px">
                                    <img class="w-100" src="/images/test.jpg" alt="">
                                </div>
                                <div class="f-1 mx-3 d-flex flex-column">
                                    <div class="font-weight-bold font-120 my-3">帝璟苑</div>
                                    <div class="f-1 color-gray">臺北市中正區延平南路150號</div>
                                    <div>
                                        <div class="font-weight-bold">預約時間</div>
                                        <div>101年4月15日</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 以下為複製元素 -->
                        <div class="col-6 p-3">
                            <div class="buildingCase d-flex">
                                <div class=" " style="width:160px">
                                    <img class="w-100" src="/images/test.jpg" alt="">
                                </div>
                                <div class="f-1 mx-3 d-flex flex-column">
                                    <div class="font-weight-bold font-120 my-3">帝璟苑</div>
                                    <div class="f-1 color-gray">臺北市中正區延平南路150號</div>
                                    <div>
                                        <div class="font-weight-bold">預約時間</div>
                                        <div>101年4月15日</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 p-3">
                            <div class="buildingCase d-flex">
                                <div class=" " style="width:160px">
                                    <img class="w-100" src="/images/test.jpg" alt="">
                                </div>
                                <div class="f-1 mx-3 d-flex flex-column">
                                    <div class="font-weight-bold font-120 my-3">帝璟苑</div>
                                    <div class="f-1 color-gray">臺北市中正區延平南路150號</div>
                                    <div>
                                        <div class="font-weight-bold">預約時間</div>
                                        <div>101年4月15日</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 p-3">
                            <div class="buildingCase d-flex">
                                <div class=" " style="width:160px">
                                    <img class="w-100" src="/images/test.jpg" alt="">
                                </div>
                                <div class="f-1 mx-3 d-flex flex-column">
                                    <div class="font-weight-bold font-120 my-3">帝璟苑</div>
                                    <div class="f-1 color-gray">臺北市中正區延平南路150號</div>
                                    <div>
                                        <div class="font-weight-bold">預約時間</div>
                                        <div>101年4月15日</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div id="collectionPage" class="pageContainer">
                <div class="mb-4">
                    <div class="title my-3">建案收藏</div>
                    <div style="position:relative">
                        <div id="collectBuildingContainer" class="d-flex">
                            <div class="itemPos col-3 px-2" id="collectBuildingPos-0"></div>
                            <div class="itemPos col-3 px-2" id="collectBuildingPos-1"></div>
                            <div class="itemPos col-3 px-2" id="collectBuildingPos-2"></div>
                            <div class="itemPos col-3 px-2" id="collectBuildingPos-3"></div>
                        </div>
                        <div class="arrowBtn prev d-none" id="CB-prevBtn">
                            <img class="w-100" src="~/images/AccountPictures/common/next.png" />
                        </div>
                        <div class="arrowBtn next d-none" id="CB-nextBtn">
                            <img class="w-100" src="~/images/AccountPictures/common/next.png" />
                        </div>
                    </div>
                </div>
                <div>
                    <div class="title my-3">文章收藏</div>
                    <div style="position:relative">
                        <div id="collectArticleContainer" class="d-flex">
                            <div class="itemPos col-3 px-2" id="collectArticlePos-0"></div>
                            <div class="itemPos col-3 px-2" id="collectArticlePos-1"></div>
                            <div class="itemPos col-3 px-2" id="collectArticlePos-2"></div>
                            <div class="itemPos col-3 px-2" id="collectArticlePos-3"></div>
                        </div>
                        <div class="arrowBtn prev d-none" id="CA-prevBtn">
                            <img class="w-100" src="~/images/AccountPictures/common/next.png" />
                        </div>
                        <div class="arrowBtn next d-none" id="CA-nextBtn">
                            <img class="w-100" src="~/images/AccountPictures/common/next.png" />
                        </div>
                    </div>
                </div>
            </div>

            <div id="historyPage" class="pageContainer">
                <div class="mb-4">
                    <div class="title my-3">建案瀏覽記錄</div>
                    <div style="position:relative">
                        <div id="viewBuildingContainer" class="d-flex">
                            <div class="itemPos col-3 px-2" id="viewBuildingPos-0"></div>
                            <div class="itemPos col-3 px-2" id="viewBuildingPos-1"></div>
                            <div class="itemPos col-3 px-2" id="viewBuildingPos-2"></div>
                            <div class="itemPos col-3 px-2" id="viewBuildingPos-3"></div>
                        </div>
                        <div class="arrowBtn prev d-none" id="VB-prevBtn">
                            <img class="w-100" src="~/images/AccountPictures/common/next.png" />
                        </div>
                        <div class="arrowBtn next d-none" id="VB-nextBtn">
                            <img class="w-100" src="~/images/AccountPictures/common/next.png" />
                        </div>
                    </div>
                </div>

                <div>
                    <div class="title my-3">文章瀏覽記錄</div>
                    <div style="position:relative">
                        <div id="viewArticleContainer" class="d-flex">
                            <div class="itemPos col-3 px-2" id="viewArticlePos-0"></div>
                            <div class="itemPos col-3 px-2" id="viewArticlePos-1"></div>
                            <div class="itemPos col-3 px-2" id="viewArticlePos-2"></div>
                            <div class="itemPos col-3 px-2" id="viewArticlePos-3"></div>
                        </div>
                        <div class="arrowBtn prev d-none" id="VA-prevBtn">
                            <img class="w-100" src="~/images/AccountPictures/common/next.png" />
                        </div>
                        <div class="arrowBtn next d-none" id="VA-nextBtn">
                            <img class="w-100" src="~/images/AccountPictures/common/next.png" />
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>

<!--載入資料庫資料-->
<script>
    // 使用者資訊
    let userInfo = {
        id: @Model.accountInfo.id,
        userName: '@Model.accountInfo.userName',
        gender: '@Model.accountInfo.gender',
        birthday: {
            year: '@Model.accountInfo.birthday.Year',
            month: '@Model.accountInfo.birthday.Month',
            day: '@Model.accountInfo.birthday.Day',
            toString: function () {
                return `${this.year}.${this.month}.${this.day}`;
            },
        },
        region: {
            city: '@Model.regionInfo.cityName',
            region: '@Model.regionInfo.regionName',
            cityID: @Model.regionInfo.cityID,
            regionID: @Model.regionInfo.regionID,
            toString: function () {
                return `${this.city} ${this.region}`;
            },
        },
        email:'@Model.accountInfo.email',
        cellphone: '@Model.accountInfo.cellphone',
    };

    // 地區資訊
    let cityList = [];
    let regionList = [];
    $.ajax({
        method: 'post',
        url: 'regionObject',
        dataType: 'json',
        success: function (result) {
            cityList = result["cityList"];
            regionList = result["regionList"];
            updateCityOptions();
        },
    });
    function updateCityOptions() {
        $('#city').html(`<option value="" disabled selected hidden>請選擇縣市</option>`);
        for (let i = 0; i < cityList.length; i++) {
            $('#city').append(`<option value=${cityList[i]["id"]}>${cityList[i]["cityName"]}</option>`)
        }
    }
    function updateRegionOptions(cityID) {
        $('#region').html(`<option value="" disabled selected hidden>請選擇地區</option>`);
        for (let i = 0; i < regionList.length; i++) {
            let cid = regionList[i]["cityID"];
            if (regionList[i]["cityID"] == cityID) {
                $('#region').append(`<option value=${regionList[i]["id"]}>${regionList[i]["regionName"]}</option>`)
            }
            if (cid > cityID) break;
        }
    }

</script>

<!--通用項目-->
<script>
    // 以下: 建立切換分頁功能
    let pageTags = $('.pageSwitcher').children('.pageTag');
    let pageContainers = $('.pageArea').children('.pageContainer');
    $.each(pageTags, function (ind, val) {
        $(val).on('click', function (event) {
            $.each(pageTags, function (i, v) {
                $(v).removeClass('actived');
            });
            $.each(pageContainers, function (i, v) {
                $(v).removeClass('actived');
            });
            $(val).addClass('actived');
            $(pageContainers[ind]).addClass('actived');
        });
    });
</script>

<!--會員資料-->
<script>
    // 生日系統
    const month = ["none", "1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"];
    const maxday = [0, 31, 29, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];
    for (let i = 1; i <= 12; i++) {
        $('#BDm').append(`<option value="${i}">${month[i]}</option>`);
    }
    $('#BDm').change(function () {
        $('#BDd').attr('max', maxday[$('#BDm').val()]);
    });

    $('#editUserInfo').on('click', function (event) {
        event.preventDefault();
        turnOnEditInfo();
        return false;
    });
    $('#btnCancelInfoChange').on('click', function (event) {
        turnOffEditInfo();
    });

    // 地區系統
    $('#city').change(function () {
        let cityID = $(this).val();
        if (cityID > 0) {
            updateRegionOptions(cityID);
        } else {
            $('#region').html(`<option value="" disabled selected hidden>請選擇地區</option>`);
        }
    });

    // 編輯系統
    function turnOnEditInfo() {
        setInfoByUserInfo();

        let textInputs = $('#infoFormTable').find('input[type="text"]');
        let infoShowers = $('#infoFormTable').find('.userInfoShower');
        let infoEdditors = $('#infoFormTable').find('.userInfoEditor');
        let confirmBtns = $('#infoConfirmArea').find('.hidableBtn');

        let trs = $('#infoFormTable').find('tr');

        $.each(textInputs, function (ind, elm) {
            $(elm).removeAttr('disabled');
        });
        $.each(infoShowers, function (ind, elm) {
            $(elm).addClass('d-none');
        });
        $.each(infoEdditors, function (ind, elm) {
            $(elm).removeClass('d-none');
        });

        $('#infoConfirmArea').css('visibility', 'visible');
        $.each(confirmBtns, function (ind, elm) {
            $(elm).removeClass('hide');
        });
    }
    function turnOffEditInfo() {
        setInfoByUserInfo();
        let textInputs = $('#infoFormTable').find('input[type="text"]');
        let infoShowers = $('#infoFormTable').find('.userInfoShower');
        let infoEdditors = $('#infoFormTable').find('.userInfoEditor');
        let confirmBtns = $('#infoConfirmArea').find('.hidableBtn');

        let trs = $('#infoFormTable').find('tr');

        $.each(textInputs, function (ind, elm) {
            $(elm).attr('disabled', 'disabled');
        });
        $.each(infoShowers, function (ind, elm) {
            $(elm).removeClass('d-none');
        });
        $.each(infoEdditors, function (ind, elm) {
            $(elm).addClass('d-none');
        });

        $.each(confirmBtns, function (ind, elm) {
            $(elm).addClass('hide');
        });
        $('#infoConfirmArea').css('visibility', 'visible');
    }
    function setInfoByUserInfo() {
        // userName
        $('#userName').val(userInfo.userName);

        // gender
        if (userInfo.gender != "") {
            $('#genderShower').html(userInfo.gender);
            if (userInfo.gender == "男") {
                $('#genderM')[0].checked = true;
            } else {
                $('#genderF')[0].checked = true;
            }
        } else {
            $('#genderShower').html('(未提供)');
            $('#genderM')[0].checked = false;
            $('#genderF')[0].checked = false;
        }

        // birthday
        $('#birthdayShower').html(userInfo.birthday.toString());
        $('#BDy').val(userInfo.birthday.year);
        $('#BDm').val(userInfo.birthday.month);
        $('#BDd').val(userInfo.birthday.day);

        // region
        $('#regionShower').html(userInfo.region.regionID > 0 ? userInfo.region.toString() : '(未提供)');
        let cityID = userInfo.region.cityID;
        let regionID = userInfo.region.regionID;
        updateCityOptions();
        updateRegionOptions(cityID);
        if (regionID > 0) {
            $('#city').val(cityID);
            $('#region').val(regionID);
        }


        // email
        $('#email').val(userInfo.email);

        // cellphone
        $('#cellphone').val(userInfo.cellphone);
    }

    // 確認變更
    $('#btnSaveInfoChange').on('click', function (event) {
        event.preventDefault();
        if (!ValidateEmail($('#email').val())) {
            alert('錯誤: 電子郵件格式有誤');
            return;
        }
        if (!ValidatePhone($('#cellphone').val())) {
            alert('錯誤: 手機格式有誤');
            return;
        }

        let bdy = $('#BDy').val(), bdm = $('#BDm').val(), bdd = $('#BDd').val();
        let infoObj = {
            userName: $('#userName').val(),
            gender: $('#genderM')[0].checked ? '男' : $('#genderF')[0].checked ? '女' : '',
            bdy: bdy,
            bdm: bdm,
            bdd: bdd,
            birthday: `${bdy}-${bdm}-${bdd}`,
            email: $('#email').val(),
            region: $('#region').val(),
            cellphone: $('#cellphone').val(),
            id: userInfo.id,
        };
        $.ajax({
            method: 'post',
            url: 'editAccountInfo',
            data: infoObj,
            success: function () {
                updateUserInfo(infoObj);
                setInfoByUserInfo();
                turnOffEditInfo();
            },
        });
        return false;
    });
    function updateUserInfo(infoObj) {
        userInfo.userName = infoObj["userName"];
        userInfo.gender = infoObj["gender"];
        userInfo.email = infoObj["email"];
        userInfo.cellphone = infoObj["cellphone"];
        userInfo.birthday.year = infoObj["bdy"];
        userInfo.birthday.month = infoObj["bdm"];
        userInfo.birthday.day = infoObj["bdd"];

        if (infoObj["region"] != null) {
            let regionID = infoObj["region"];
            let regionObj = regionList.find(elm => elm["id"] == regionID);
            let region = regionObj["regionName"];
            let cityID = parseInt(regionObj["cityID"]);
            let city = cityList.find(elm => elm["id"] == cityID)["cityName"];
            userInfo.region.city = city;
            userInfo.region.region = region;
            userInfo.region.cityID = cityID;
            userInfo.region.regionID = regionID;
        }
        
    }
    // Validation Function
    function ValidateEmail(mail) {
        if (/^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(mail))
            return true;
        else
            return false;
    }
    function ValidatePhone(phone) {
        if (/^[0][9][0-9]{8}$/.test(phone))
            return true;
        else
            return false;
    }

    // 修改密碼
    $('#passwordEdittor').hide();
    $('#pwdnewEro').hide();
    $('#editPwdBtn').on('click', function (event) {
        event.preventDefault();
        if ($(this).html() == '重設密碼') {
            editPwdOn();
        } else {
            editPwdOff();
        }
        return false;
    });
    $.each($('#passwordEdittor').find('input'), function (ind, elm) {
        $(elm).on('keydown', function () {
            $('#pwdnewEro').hide();
        });
    });
    $('#cancelpwdeBtn').on('click', function () {
        editPwdOff();
    });
    $('#submitpwdeBtn').on('click', function () {
        let password = $('#pwdEold').val();
        let pwdnew = $('#pwdEnew').val();
        let pwdnewcheck = $('#pwdEnew-check').val();

        if (password == "") {
            $('#pwdnewEro').html('*請輸入密碼').fadeIn()
            return;
        }
        if (pwdnew == "") {
            $('#pwdnewEro').html('*請輸入新密碼').fadeIn()
            return;
        }
        if (pwdnew != pwdnewcheck) {
            $('#pwdnewEro').html('*請輸入相同的新密碼').fadeIn()
            return;
        }

        $.ajax({
            method: 'post',
            url: 'varifyPassword',
            data: {
                theid: userInfo.id,
                password: password,
            },
            success: function (result) {
                console.log(`password${password}`);
                console.log(result);
                if (result < 0) {
                    $('#pwdnewEro').html('*舊密碼輸入錯誤').fadeIn()
                } else {
                    $.ajax({
                        method: 'post',
                        url: 'editAccountPassword',
                        data: {
                            theid: userInfo.id,
                            password: $('#pwdEnew').val(),
                        },
                        success: function () {
                            editPwdOff();
                            alert('密碼修改成功！');
                        }
                    });
                }
            }
        });
    });
    function editPwdOn() {
        $('#editPwdBtn').html('取消修改')
        $('#logoutBtn').addClass('d-none'); // 所有的optionItem都應該在此

        $('#passwordEdittor').slideDown(300);
    }
    function editPwdOff() {
        $('#editPwdBtn').html('重設密碼')
        $('#passwordEdittor').slideUp(300, function () {
            $('#pwdnewEro').hide();
            $('#logoutBtn').removeClass('d-none'); // 所有的optionItem都應該在此

            $.each($('#passwordEdittor').find('input'), function (ind, elm) {
                $(elm).val('');
            });
        });
    }

</script>

<!--收藏系統-->
<script>
    let initCB = {
        theURL: 'getCollectBuilding',
        toStringFunction: toCaseItemStr,
        arrowIDs: {
            prev: '#CB-prevBtn',
            next: '#CB-nextBtn',
        },
        posID: 'collectBuildingPos',
        itemID: 'CB',
    };
    let CBObj = new collectionObj(initCB);
    CBObj.getData();

    let initCA = {
        theURL: 'getCollectArticle',
        toStringFunction: toArticleItemStr,
        arrowIDs: {
            prev: '#CA-prevBtn',
            next: '#CA-nextBtn',
        },
        posID: 'collectArticlePos',
        itemID: 'CA',
    }
    let CAObj = new collectionObj(initCA);
    CAObj.getData();

    let initVB = {
        theURL: 'getViewedBuilding',
        toStringFunction: toCaseItemStr,
        arrowIDs: {
            prev: '#VB-prevBtn',
            next: '#VB-nextBtn',
        },
        posID: 'viewBuildingPos',
        itemID: 'VB',
    };
    let VBObj = new collectionObj(initVB);
    VBObj.getData();

    let initVA = {
        theURL: 'getViewedArticle',
        toStringFunction: toArticleItemStr,
        arrowIDs: {
            prev: '#VA-prevBtn',
            next: '#VA-nextBtn',
        },
        posID: 'viewArticlePos',
        itemID: 'VA',
    };
    let VAObj = new collectionObj(initVA);
    VAObj.getData();

    // toStringFunctions
    function toCaseItemStr(ind, caseElm ,IDName) {
        return `
                <div class="caseItem switchItem rightHide" id="${IDName}-${ind}">
                    <div class="imgdiv">
                        <img class="w-100" src="/${caseElm.picURL}" alt="">
                    </div>
                    <div class="caseName">${caseElm.建案名稱}</div>
                    <div class="caseLocation">${caseElm.地區}</div>
                    <div class="caseArea">${caseElm.坪數規劃}</div>
                    <div class="btnToBuildingCase" id="btn${IDName}-${caseElm.建案序號}">查看建案</div>
                </div>
                `;
    }
    function toArticleItemStr(ind, elm, IDName) {
        return `
                <div class="articleItem switchItem rightHide" id="${IDName}-${ind}">
                    <div class="imgdiv">
                        <img class="w-100" src="/${elm.picURL}" alt="">
                    </div>
                    <div class="p-3">
                        <div class="articleClass">${elm.className}</div>
                        <a class="articleTitle d-block" id="btn${IDName}-${elm.id}" href="/${elm.mainClass}/ArticleContent/${elm.id}">${elm.title}</a>
                        <div class="articleTime">${elm.publishDate}</div>
                    </div>
                </div>
                `;
    }

    // 物件定義
    function collectionObj(initObj) {
        let self = this;
        this.url = initObj.theURL; //需自己新增
        this.toString = initObj.toStringFunction; // 需自己新增
        this.prevArrow = initObj.arrowIDs.prev; // 需自己新增
        this.nextArrow = initObj.arrowIDs.next; // 需自己新增
        this.posID = initObj.posID; // 需自己新增
        this.itemID = initObj.itemID; // 需自己新增
        this.collection = [];
        this.page = 0;
        this.PID = [];
        this.getData = function () {
            $.ajax({
                method: 'post',
                url: self.url,
                data: {
                    userID: userInfo.id,
                },
                dataType: 'json',
                success: function (result) {
                    if (result.length > 0) {
                        console.log(result);
                        self.collection = result;
                        console.log(self.collection);

                        self.update();
                        console.log(self.collection);

                        self.generatePID();
                        self.initPage();
                        self.initArrows();
                    } else {
                        $(`#${self.posID}-0`).html("目前沒有資料喔！");
                        $(`#${self.posID}-0`).css('height', '30px');
                        $(`#${self.posID}-1`).css('height', '30px');
                        $(`#${self.posID}-2`).css('height', '30px');
                        $(`#${self.posID}-3`).css('height', '30px');
                    }
                }
            });
        };
        this.update = function () {
            $.each(self.collection, function (ind, elm) {
                let pos = ind % 4;
                elm.picURL = elm.picURL.replaceAll("\\", "/");
                $(`#${self.posID}-${pos}`).append(self.toString(ind, elm, self.itemID));
            });
        };
        this.generatePID = function () {
            let n = self.collection.length;
            for (let page = 0; page * 4 < n; page++) {
                let pageID = [];
                for (let i = 0; i < 4; i++) {
                    if (page + i < n) pageID.push(`#${self.itemID}-${page * 4 + i}`);
                }
                self.PID.push(pageID);
            }
        };
        this.nextPage = function () {
            if (self.page + 1 >= self.PID.length) return;
            $.each(self.PID[self.page], function (ind, elm) {
                $(elm).addClass('leftHide');
            });
            self.page++;
            setTimeout(function () {
                $.each(self.PID[self.page], function (ind, elm) {
                    $(elm).removeClass('rightHide');
                });
            }, 300);
            self.arrowShowNone();
        };
        this.prevPage = function () {
            if (self.page - 1 < 0) return;
            $.each(self.PID[self.page], function (ind, elm) {
                $(elm).addClass('rightHide');
            });
            self.page--;
            setTimeout(function () {
                $.each(self.PID[self.page], function (ind, elm) {
                    $(elm).removeClass('leftHide');
                });
            }, 300);
            self.arrowShowNone();
        };
        this.initPage = function () {
            $.each(self.PID[0], function (ind, elm) {
                $(elm).removeClass('rightHide');
            });
            self.arrowShowNone();
        };
        this.arrowShowNone = function () {
            if (self.page <= 0) {
                $(self.prevArrow).addClass('d-none');
            } else {
                $(self.prevArrow).removeClass('d-none');
            }
            if (self.page + 1 >= self.PID.length) {
                $(self.nextArrow).addClass('d-none');
            } else {
                $(self.nextArrow).removeClass('d-none');
            }
        }
        this.initArrows = function () {
            $(self.nextArrow).on('click', function () {
                self.nextPage();
            });
            $(self.prevArrow).on('click', function () {
                self.prevPage();
            });
        }
    }

</script>
