@model List<prj_chuju.Models.class_buildingCase>
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="~/style/buildingsearch.css" />
<script src="~/Scripts/buildingSearch.js"></script>

<main>
    <div class="btn-select">

        <!--地區-->
        <div class="option mb-3">
            <h5>請選擇地區 </h5>
            <div id="regionRegion" class="region">
            </div>
        </div>

        <!--坪數-->
        <div class="option mb-3">
            <h5>坪數</h5>
            <div id="areaRegion" class="region">
            </div>
        </div>

        <!--房型-->
        <div class="option mb-3">
            <h5>
                房型<span>(可複選)</span>
            </h5>
            <div id="roomsRegion" class="region">
            </div>
        </div>

        <!--屋況-->
        <div class="option mb-3">
            <h5>
                屋況<span>(可複選)</span>
            </h5>
            <div id="statusRegion" class="region">
            </div>
        </div>

        <!--特性-->
        <div class="option mb-3">
            <h5>
                特性<span>(可複選)</span>
            </h5>
            <div id="tagsRegion" class="region">
            </div>
        </div>
    </div>

    <div id="casesContainer" class="cards py-25 btn-select d-flex justify-content-center flex-wrap">

    </div>

</main>

<script>
    let ViewBagExists = '@ViewBag.region'.length > 0;
    let bagInfo = {
        region: parseInt('@ViewBag.region'),
        area: parseInt('@ViewBag.area'),
        rooms: selectStrToArray('@ViewBag.rooms'),
        status: selectStrToArray('@ViewBag.status'),
        tags: selectStrToArray('@ViewBag.tags'),
    }
    let selectorInitializer = ViewBagExists ? bagInfo : nullSelectorObj;

    let selector = new selectorObj(selectorInitializer);
    $(function () {
        initSelector(selector);
        selector.update();
    })
    function selectorObj(initObj) {
        let self = this;
        this.region = initObj.region;
        this.area = initObj.area;
        this.rooms = initObj.rooms;
        this.status = initObj.status;
        this.tags = initObj.tags;
        this.ajaxData = {};
        this.update = function () {
            self.generateAjaxData();
            $('#casesContainer').html('<h3>搜尋中...</h3>')
            $.ajax({
                method: 'post',
                url: '@Url.Action("getBuildingBySelector","BuildingCase")',
                data: self.ajaxData,
                success: function (result) {
                    theCases = result;
                    generateCaseCards(result);
                }
            })

        };
        this.generateAjaxData = function () {
            let roomsStr = "0";
            let statusStr = "0";
            let tagsStr = "0";
            for (let i = 0; i < self.rooms.length; i++) {
                let n = self.rooms[i];
                if (n == 0) {
                    roomsStr = "0";
                    break;
                }
                roomsStr += n;
            }
            for (let i = 0; i < self.status.length; i++) {
                let n = self.status[i];
                if (n == 0) {
                    statusStr = "0";
                    break;
                }
                statusStr += n;
            }
            for (let i = 0; i < self.tags.length; i++) {
                let n = self.tags[i];
                if (n == 0) {
                    tagsStr = "0";
                    break;
                }
                tagsStr += n;
            }
            self.ajaxData = {
                region: self.region,
                area: self.area,
                rooms: roomsStr,
                status: statusStr,
                tags: tagsStr,
            };
        };

    }
</script>
